body :where(.wp-site-blocks)>* {
  margin-block-start: 0;
}

ul>li>a,
ol>li>a {
  text-decoration: inherit;
}

ul.is-style-none {
  list-style-type: none;
  padding-left: 0;
}

ul.is-style-square {
  list-style-type: square;
}

.wp-block-query-pagination .wp-block-query-pagination-next,
.wp-block-query-pagination .wp-block-query-pagination-previous {
  color: var(--wp--preset--color--primary-hover);
}

.wp-block-query-pagination .wp-block-query-pagination-next:hover,
.wp-block-query-pagination .wp-block-query-pagination-previous:hover {
  color: var(--wp--preset--color--primary);
}

.page-numbers {
  padding: 5px 15px;
  border-radius: 15px;
  text-align: center;
  background: var(--wp--preset--color--primary);
  color: #fff;
  margin: 0 5px;
}

.page-numbers:hover {
  background: var(--wp--preset--color--primary-hover);
  color: #fff;
}

.is-style-box-shadow {
  box-shadow: 0 10px 100px 0 rgba(21, 15, 151, 0.14);
}